.popup__error{
  width: 358px;
  position: absolute;
  top: 31px;
  left: 36px;
  white-space: pre-wrap;
}

@media screen and (max-width: 320px) {
  .popup__error{
    width: 238px;
    left: 22px;
  }
}

/* .popup__error{
  color: #f00;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  width: 358px;
  position: absolute;
  top: 0;
  left: 0;
  top: 31px;
  left: 36px;
  white-space: pre-wrap;
}

@media screen and (max-width: 320px) {
  .popup__error{
    width: 238px;
    left: 22px;
  }
} */