.popup__input{
  border: none;
  margin: 0 36px 30px 36px;
  width: calc(100% - 36px - 36px);
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  padding: 0 0 9px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus{
  outline-width: 0;
}

@media screen and (max-width: 320px) {
  .popup__input{
    width: 238px;
    padding-bottom: 7px;
    margin: 0 22px 30px 22px;
  }
}