.elements__element{
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 320px) {
  .elements__element{
    margin: auto;
  }
}