.header__user-email{
  color: #fff;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 24px;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .header__user-email{
    padding-right: 0;
    margin: 40px 0 18px 0;
  }
}