.profile__edit-button{
  width: 24px;
  height: 24px;
  padding: 0;
  background: none;
  border: none;
  background-image: url(../../../images/Edit_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 15px;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__edit-button{
    max-width: 18px;
  }
}